# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
log*/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools
coverage/
.nyc_output/

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
tmp/
temp/

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders and files
.vscode/
.idea/
*.swp
*.swo

# Optional npm cache directory
.npm/

# Debugging files
*.tgz

# TypeScript
*.tsbuildinfo
