# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build files (if any)
dist/
build/

# Cache
.cache/